* {
  font-family: 'Open Sans', sans-serif;
}

/*Header*/
.head-wrapper {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.head-nav-container {}

.head-anch {
  color: black;
  padding: 0 10px;
  text-decoration: none;
}

.head-logo {
  margin: 10px;
  height: 64px;
  aspect-ratio: 1;
}
/*Main*/
.main-banner {
  background-image: url("/imgs/jumbotron.jpg");
  background-size: cover;
  height: 450px;
}
.comic-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.comic-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  

/*Style*/
.links-section {
  background-image: url("/imgs/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  max-height: 450px;
  overflow: hidden;
}

.foot-shop-anch {
  font-size: 12px;
  text-decoration: none;
}

.logo-footer {
  transform: translateY(-110px);
}

.foot-shop-img {
  height: 48px;
}